html, body{
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	height: 100%;
}

.container{
	width: 80%;
	margin: 0 auto;
}

.white-back__button{
	height: 35px;
  font-weight: 400;
  line-height: 35px;
  border-radius: 30px;
	padding: 0 20px;
	
	color: #418bfb;
	background-color: #fff;
	border: #418bfb 1px solid;
	
	transition: background-color 0.5s ease, color 0.5s ease;
}

.white-back__button:hover{
	color: #fff;
	background-color: #418bfb;
}

/* MAIN  */
/* ADS SECTION/SLIDER  */

.ads__main-block{
	display: flex;
	width: 100%;
	padding: 50px 0;
}

.slider__item-img{
	width: 280px;
	height: 220px;
}

.ads__wrapper{
	display: flex;
	align-items: center;
	justify-content: center;
}

.slider__track{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.slider__active-slide{
	zoom: 1.2;
}

/* BUSINESS CATEGORIES SECTION  */

.business-categories{
	padding: 50px 0;
}

.business-categories__wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

.business-categories__title{
	font-size: 32px;
	font-weight: 700;
}

.main-catalog__body{
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
	gap: 40px;
	padding: 50px 0;
}

.main-catalog__item{
	position: relative;
  display: inline-flex;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 70%, rgba(0,0,0,1) 100%);
    transition: opacity .5s;
    will-change: opacity;
		border-radius: 5%;
  }
  &:hover {
    &:before {
      opacity: 1;
			border-radius: 5%;
    }
  }
}

.main-catalog__item span{
	position: absolute;
	text-align: center;
	bottom: 0;
	left: 0;
	color: white;
	font-size: 20px;
	font-weight: 700;
	z-index: 3;
	padding: 15px 5px;
}

.main-catalog__item::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 70%, rgba(0,0,0,1) 100%);
	border-radius: 5%;
}

.main-catalog__item img{
	width: 280px;
	height: 220px;
	border-radius: 5%;
}

/* CATALOG TOP COMPANY SECTION  */

.__wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px 0;
}

.catalog__{
	background-color: #ecf2fb;
}

.item-catalog__wrapper{
	width: 285px;
	height: 500px;
	background-color: white;
	border-radius: 20px;
	padding: 15px;

	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	align-items: center;

	box-shadow: 0 0 15px 0 #d9d9e0;
  border-radius: 12px;
}

.catalog__title{
	font-weight: 700;
	font-size: 32px;
}

.catalog__body{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	padding: 50px 0;
}

.item-catalog__header{
	display: flex;
	justify-content: space-around;
	gap: 10px;
	margin-bottom: 30px;
}

.item-catalog__vip{
	padding: 6px 21px;
  font-size: 16px;
  line-height: 120%;
  text-transform: uppercase;
  color: #fff;
  background-color: red;
  border-radius: 15px;
}

.item-catalog__category{
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 16px;
	width: 190px;
	align-self: center;
	background-color: #f4f4f4;
	padding: 6px 11px;
	border-radius: 15px;

	align-self: flex-end;
}

.item-catalog__img{
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
	align-items: center;
	width: 255px;
	height: 140px;
}

.item-catalog__img img{
	width: 255px;
	height: 140px;
}

.item-catalog__title{
	-webkit-box-flex: 1;
  /* -ms-flex: 1 1 auto;
  flex: 1 1 auto; */
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
  color: #000;
  -webkit-transition: color .5s ease;
  transition: color .5s ease;
	text-decoration: none;
	display: inline;
}

.item-catalog__title:hover{
	color: #418bfb;
}

.item-catalog__item-ico{
	width: 24px;
	height: 24px;
}

.item-catalog__list{
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	padding-left: 5px;
	width: 100%;

	gap: 10px;
	margin-bottom: 30px;
}

.item-catalog__item{
	display: flex;
	align-items: center;
	-webkit-box-align: center;
	gap: 10px;
}

.item-catalog__item-context{
	-webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100% - 30px);
  flex: 0 0 calc(100% - 30px);
  width: calc(100% - 30px);
  font-size: 16px;
  line-height: 120%;
  white-space: nowrap;
  text-overflow: ellipsis;
	color: #000;

	-webkit-transition: color .2s ease;
  transition: color .2s ease;

	&:visited{
		color: inherit;
	}
}

.item-catalog__item-context:hover{
	color: #418bfb;
}

.item-catalog__feedback{
	width: 100%;
	display: flex;
	justify-content: space-between;

	margin-bottom: 20px;
}

.item-catalog__rate{
	display: flex;
	gap: 10px;
	padding-left: 5px;
}

.item-catalog__feedback-link{
	color: #418bfb;
	-webkit-transition: color .3s ease;
  transition: color .3s ease;
	text-decoration: underline;
	&:visited{
		color: #418bfb;
	}
}

.item-catalog__feedback-link:hover{
	color: #000;
}

.item-catalog__footer{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.item-catalog__button{
  height: 35px;
  font-weight: 400;
  line-height: 35px;
  border-radius: 30px;
	background-color: #418bfb;
	border: #418bfb 1px solid;
	padding: 0 20px;
	color: #fff;

	transition: background-color 0.5s ease, color 0.5s ease;
}

.item-catalog__button:hover{
	color: #418bfb;
	background-color: #fff;
}

.item-catalog__contact-button{
	height: 35px;
  font-weight: 400;
  line-height: 35px;
  border-radius: 30px;
	padding: 0 20px;
	
	color: #418bfb;
	background-color: #fff;
	border: #418bfb 1px solid;
	
	transition: background-color 0.5s ease, color 0.5s ease;
}

.item-catalog__contact-button:hover{
	color: #fff;
	background-color: #418bfb;
}

/* LAST ADDED COMPANY  */

.catalog__last-added{
	background-color: #fff;
}

/* FEEDBACK  */

.company-feedback{
	padding: 50px 0;
}

.feedback__wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.feedback__title{
	margin-bottom: 15px;
  font-weight: 700;
	font-size: 32px;
  line-height: 120%;
  text-align: center;
  color: #000;
  -webkit-transition: color .5s ease;
  transition: color .5s ease;
	text-decoration: none;
	display: inline;
}

.feedback__body{
	display: grid;
	gap: 30px 20px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding: 50px 0;
}

.feedback__item-image{
	margin-bottom: 30px;
}

.feedback__item{
	box-shadow: 0 0 15px 0 #d9d9e0;
  border-radius: 12px;
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 20px 15px 25px;

	width: 285px;
	height: 355px;
}

.feedback__item-text{
	-ms-flex: 1 1 auto;
  flex: 1 1 auto;
	line-height: 120%;
}

.feedback__item-info{
	color: #9a9a9a;
}

.feedback__item-link{
	margin: 20px 0 10px;
}

